/*User Index*/
#splash-container {
  text-align: center;
}

#splash-img {
  width: 320px;
}

.main-sub {
  text-align: center;
}

#splash-title {
  position: absolute;
  top: 250px;
  left: 15px;
  right: 0;
  font-size: 2em;
}

#login {
  font-size: 1.5em;
  border: 5px solid #E98074;
  border-radius: 35px;
  margin: auto;
  height: 130px;
  padding: 28px;
  width: 330px;
}

#login a {
  vertical-align: 25%;
  margin-right: 15px;
}

#spotify-logo {
  width: 10%;
  display: inline-block;
}


/*User Show*/

.profile-pic {
  margin: auto;
  width: 150px;
  border-radius: 25%;
  padding: 10px;
}

.profile-name {
  font-size: 2em;
  display: inline-block;
  color: #E85A4F;
  margin: auto;
  position: absolute;
  top: 2em;
}

.profile-name {
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  margin-left: 2%;
}

.playlist-button, .sampler-button {
  font-family: 'Permanent Marker';
  font-size: 2.5em;
  color: #FFF1D0;
  width: 190px;
  outline: none;
  background-color: #E85A4F;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
  height: 70px;
}

.pressed {
  background-color: #E98074;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.session-buttons {
  display: inherit;
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.profile-buttons {
  position: relative;
  height: 70px;
  width: 100%;
  display: flex;
}

.profile-page {
  justify-content: space-evenly;
  height: 75%;
  padding-bottom: 150px;
  width: 100%;
}

.playlist-link {
  font-size: 1em;
  text-align: center;
  margin-bottom: .2em;
}

.no-samplers {
  color: #E85A4F;
  font-family: 'Francoise One', sans-serif;
  font-weight: bold;
}

.profile-pic-container {
  height: 25%;
}

.page-content-left, .page-content-right {
  height: 90%;
  width: 350px;
  padding-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 3px solid #E98074;
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 1em;
  left: 28em;
}

.page-content-right {
  display: none;
}


/*###########################*/
/* LISTED ITEMS */
/*###########################*/

.playlists {
  font-size: 2em;
}

.list-style-none {
  list-style-type: none;
  padding-left: 0;
}

.button-link a {
  text-decoration: none;
  font-size: 2em;
  color: #695958;
}

.button-link {
  margin-bottom: 20px;
}

.samplify-button-block {
/*  overflow-x: hidden;
  max-width: 80%;*/
}

/*############################*/
/* SAMPLER NEW PAGE */
/*############################*/

.new-sampler-container {
  margin: 3% 3%;
  width: 100%;
}

.track-list {
  width: 90%;
  flex-direction: column;
  height: 75%;
  position: absolute;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.new-sampler-title {
  font-size: 2em;
  overflow-x: hidden;
  margin: 0;
}

.track-container img {
  float: left;
  height: 100px;
}

.track-container {
  margin: 0.3em;
  height: 100px;
  font-size: 1.5em;
}

.track-info {
  max-width: 100%;
  height: 100px;
  /*overflow: hidden;*/
}

.track-name {
  margin: 30px;
}

.button-link a {
  text-decoration: none;
  color: #695958;
  font-size: 2em;
}

.button-block {
  width: 300px;
  background-color: #4DCCBD;
  padding: 20px 0;
  text-align: center;
  border-radius: 15px;
  border: none;
}

.button {
    font-size: 2em;
    width: 300px;
    height: 50px;
    color: #130303;
    border: 1px solid #E98074;
    font-family: 'Permanent Marker';
    background-color: #D8C3A5;
    margin: 25px;
    margin-bottom: 25px;
    display: inline-block;
    border-radius: 15px;
}

.sampler-buttons {
  justify-content: space-around;
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100px;
}